In [1]:
import pandas as pd
df = pd.read_csv('/kaggle/input/onlineretail/onlineRetail.csv')
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,12/1/2009 7:45,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,12/1/2009 7:45,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,12/1/2009 7:45,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,12/1/2009 7:45,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,12/1/2009 7:45,1.25,13085.0,United Kingdom

In [2]:
df.head(15)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,12/1/2009 7:45,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,12/1/2009 7:45,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,12/1/2009 7:45,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,12/1/2009 7:45,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,12/1/2009 7:45,1.25,13085.0,United Kingdom
5,489434,22064,PINK DOUGHNUT TRINKET POT,24,12/1/2009 7:45,1.65,13085.0,United Kingdom
6,489434,21871,SAVE THE PLANET MUG,24,12/1/2009 7:45,1.25,13085.0,United Kingdom
7,489434,21523,FANCY FONT HOME SWEET HOME DOORMAT,10,12/1/2009 7:45,5.95,13085.0,United Kingdom
8,489435,22350,CAT BOWL,12,12/1/2009 7:46,2.55,13085.0,United Kingdom
9,489435,22349,"DOG BOWL , CHASING BALL DESIGN",12,12/1/2009 7:46,3.75,13085.0,United Kingdom
10,489435,22195,HEART MEASURING SPOONS LARGE,24,12/1/2009 7:46,1.65,13085.0,United Kingdom
11,489435,22353,LUNCHBOX WITH CUTLERY FAIRY CAKES,12,12/1/2009 7:46,2.55,13085.0,United Kingdom
12,489436,48173C,DOOR MAT BLACK FLOCK,10,12/1/2009 9:06,5.95,13078.0,United Kingdom
13,489436,21755,LOVE BUILDING BLOCK WORD,18,12/1/2009 9:06,5.45,13078.0,United Kingdom
14,489436,21754,HOME BUILDING BLOCK WORD,3,12/1/2009 9:06,5.95,13078.0,United Kingdom

In [3]:
df['Description'] = df['Description'].str.lower()
df['Description'] = df['Description'].str.strip()

In [4]:
len(df['Description'].unique())

4634

In [5]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15cm christmas glass ball 20 lights,12,12/1/2009 7:45,6.95,13085.0,United Kingdom
1,489434,79323P,pink cherry lights,12,12/1/2009 7:45,6.75,13085.0,United Kingdom
2,489434,79323W,white cherry lights,12,12/1/2009 7:45,6.75,13085.0,United Kingdom
3,489434,22041,"record frame 7"" single size",48,12/1/2009 7:45,2.10,13085.0,United Kingdom
4,489434,21232,strawberry ceramic trinket box,24,12/1/2009 7:45,1.25,13085.0,United Kingdom

In [6]:
df['Country'].unique()

array(['United Kingdom', 'France', 'USA', 'Belgium', 'Australia', 'EIRE',
       'Germany', 'Portugal', 'Japan', 'Denmark', 'Nigeria',
       'Netherlands', 'Poland', 'Spain', 'Channel Islands', 'Italy',
       'Cyprus', 'Greece', 'Norway', 'Austria', 'Sweden',
       'United Arab Emirates', 'Finland', 'Switzerland', 'Unspecified',
       'Malta', 'Bahrain', 'RSA', 'Bermuda', 'Hong Kong', 'Singapore',
       'Thailand', 'Israel', 'Lithuania', 'West Indies', 'Lebanon',
       'Korea', 'Brazil', 'Canada', 'Iceland'], dtype=object)

In [7]:
df_france = df[df['Country'] == 'France']
df_france.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
71,489439,22065,christmas pudding trinket pot,12,12/1/2009 9:28,1.45,12682.0,France
72,489439,22138,baking set 9 piece retrospot,9,12/1/2009 9:28,4.95,12682.0,France
73,489439,22139,retro spot tea set ceramic 11 pc,9,12/1/2009 9:28,4.95,12682.0,France
74,489439,22352,lunchbox with cutlery retrospot,12,12/1/2009 9:28,2.55,12682.0,France
75,489439,85014A,black/blue dots ruffled umbrella,3,12/1/2009 9:28,5.95,12682.0,France

In [8]:
len(df_france['Invoice'].unique())

297

In [9]:
df_france['Invoice'].unique()

array(['489439', 'C489534', '489557', 'C489685', '489883', 'C490120',
       '490139', '490152', 'C490153', '490458', '490684', 'C490701',
       'C490768', 'C490798', '490959', 'C491166', 'C491410', '491698',
       '491710', '491715', '492830', '492944', '493863', '493924',
       '493950', '493964', '494280', '494351', 'C494371', '494873',
       '494897', '494899', '495725', '495745', '496325', '496616',
       '496916', '497201', '497360', '497376', '497377', '497391',
       '497394', '497601', '497603', '497606', '497612', '497662',
       '497798', 'C498760', '498768', 'C498854', '498890', '499223',
       '499517', '499681', '499777', 'C499783', '499982', 'C499984',
       '499985', '500121', '500176', 'C500542', '500582', '500653',
       'C500835', '501042', '501114', '501284', '501663', '502288',
       '502467', '502636', 'C502676', 'C503209', '503503', '503810',
       '504094', '504096', '504477', '504478', '504709', '505314',
       'C505544', '505555', '506254', '506267', 'C506431', '507051',
       '507058', '507122', '507130', '507156', '507252', '507315',
       '507446', '507697', '508062', '508097', 'C508236', 'C508358',
       '508502', 'C508935', '509284', '509850', '509985', 'C510200',
       '510348', '510451', '510651', '510660', '510668', '510683',
       'C510736', '510782', '510824', '510966', '511096', '511547',
       '511703', 'C511739', 'C511823', '511825', '511855', '512171',
       '512276', '512744', '513188', '513334', '513809', '513820',
       '513941', '513971', '514165', '514219', 'C514522', '514529',
       'C514611', '514809', '514867', '515928', '515945', '515948',
       'C516565', '516728', '516885', '516905', '517241', '517252',
       '517270', '517333', '517481', '517483', '517485', '517539',
       '518007', 'C518254', 'C518263', '518418', '518505', '519228',
       '520021', '520246', '520349', '520367', '520876', '520892',
       'C520964', '521038', '521037', 'C521041', '521097', '521111',
       '521162', '521214', '521343', '521373', '521426', '521569',
       '521790', '521822', '521896', '521921', '521952', 'C521981',
       'C522173', '522335', '522454', '522497', '522712', 'C522842',
       '523022', 'C523037', '523186', '523583', 'C523602', '523613',
       '523709', 'C524235', 'C524414', 'C524707', '524716', '524827',
       '525071', '525073', 'C525190', '525249', '525298', '526168',
       '526240', '526267', '526402', '526491', '526640', '526646',
       '526864', '526911', '526965', 'C527020', '527023', '527123',
       '527234', '527255', '527978', 'C528143', '528154', 'C528392',
       '528419', '528422', 'C528439', '528641', '528647', '528657',
       'C528925', 'C528931', '529072', '529073', '529601', 'C530069',
       '530394', '531345', '531357', 'C531446', 'C531455', '531568',
       '531741', '531752', '531778', '531779', '532088', '532306',
       'C532390', '532568', '532576', '532656', '533104', '533144',
       'C533304', '533336', '533548', '533821', '533827', '533949',
       '533952', '533956', '533978', '534030', '534068', '534169',
       '534174', '534364', 'C534372', '534633', '534669', '534670',
       '534696', '535389', '535424', '535472', '535476', '535836',
       '535960', '536075', '536186', '536370', '536852', '536974',
       '537065', '537463', '537468', '537693', 'C537893', '537897',
       '537967', '538008', '538093'], dtype=object)

**Remove return or replace item information**
 * remove invoice number with 'c'

In [10]:
df_france = df_france[~df_france['Invoice'].str.contains('C')]
df_france.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
71,489439,22065,christmas pudding trinket pot,12,12/1/2009 9:28,1.45,12682.0,France
72,489439,22138,baking set 9 piece retrospot,9,12/1/2009 9:28,4.95,12682.0,France
73,489439,22139,retro spot tea set ceramic 11 pc,9,12/1/2009 9:28,4.95,12682.0,France
74,489439,22352,lunchbox with cutlery retrospot,12,12/1/2009 9:28,2.55,12682.0,France
75,489439,85014A,black/blue dots ruffled umbrella,3,12/1/2009 9:28,5.95,12682.0,France

In [11]:
len(df_france['Invoice'].unique())

241

In [12]:
len(df_france['Description'].unique())

1418

In [13]:
df_france.isnull().sum()

Invoice         0
StockCode       0
Description     0
Quantity        0
InvoiceDate     0
Price           0
Customer ID    62
Country         0
dtype: int64

In [14]:
df_france.groupby(['Invoice','Description'])['Quantity'].sum()

Invoice  Description
489439   assorted cakes fridge magnets        12
         assorted colour mini cases            2
         baking set 9 piece retrospot          9
         black/blue dots ruffled umbrella      3
         christmas pudding trinket pot        12
                                              ..
538093   skull lunch box with cutlery          6
         small popcorn holder                 12
         strawberry lunch box with cutlery    12
         toadstool money box                   6
         vintage heads and tails card game    12
Name: Quantity, Length: 5493, dtype: int64

In [15]:
basket = df_france.groupby(['Invoice','Description'])['Quantity'].sum().unstack().fillna(0)
basket.head()

Description,10 colour spaceboy pen,12 ivory rose peg place settings,12 message cards with envelopes,12 pencil small tube woodland,12 pencils small tube posy,12 pencils small tube red retrospot,12 pencils small tube red spotty,12 pencils small tube skull,12 pencils tall tube posy,12 pencils tall tube red retrospot,...,wrap pink fairy cakes,wrap red apples,wrap suki and friends,wrap winter forest,"wrap, carousel",yellow breakfast cup and saucer,yellow red flower piggy bank,you're confusing me metal sign,zinc metal heart decoration,zinc willie winkie candle stick
Invoice,,,,,,,,,,,,,,,,,,,,,
489439,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
489557,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
489883,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
490139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
490152,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
def trueorfalse(value):
    if value > 0:
        return True
    else:
        return False

In [17]:
basket_tf = basket.applymap(trueorfalse)
basket_tf.head()

Description,10 colour spaceboy pen,12 ivory rose peg place settings,12 message cards with envelopes,12 pencil small tube woodland,12 pencils small tube posy,12 pencils small tube red retrospot,12 pencils small tube red spotty,12 pencils small tube skull,12 pencils tall tube posy,12 pencils tall tube red retrospot,...,wrap pink fairy cakes,wrap red apples,wrap suki and friends,wrap winter forest,"wrap, carousel",yellow breakfast cup and saucer,yellow red flower piggy bank,you're confusing me metal sign,zinc metal heart decoration,zinc willie winkie candle stick
Invoice,,,,,,,,,,,,,,,,,,,,,
489439,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
489557,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
489883,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
490139,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
490152,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

**Find most frequent items**

In [18]:
from mlxtend.frequent_patterns import apriori,association_rules
frequent_itemsets = apriori(basket_tf, use_colnames =True , min_support = 0.08)
frequent_itemsets

     support                                           itemsets
0   0.116183                       (assorted colour mini cases)
1   0.091286                     (baking set 9 piece retrospot)
2   0.091286               (childs breakfast set circus parade)
3   0.116183                          (circus parade lunch box)
4   0.087137                             (dolly girl lunch box)
..       ...                                                ...
68  0.103734  (strawberry lunch box with cutlery, postage, l...
69  0.091286  (plasters in tin circus parade, postage, plast...
70  0.082988  (postage, red toadstool led night light, round...
71  0.087137  (round snack boxes set of 4 fruits, postage, r...
72  0.082988  (set/6 red spotty paper plates, set/6 red spot...

[73 rows x 2 columns]

**Apply Apriori Algorithm**

In [19]:
rules1 = association_rules(frequent_itemsets , metric = 'lift' , min_threshold = 1)
rules1

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(assorted colour mini cases),(postage),0.116183,0.730290,0.112033,0.964286,1.320414,0.027186,7.551867,0.274561
1,(postage),(assorted colour mini cases),0.730290,0.116183,0.112033,0.153409,1.320414,0.027186,1.043972,0.899715
2,(circus parade lunch box),(postage),0.116183,0.730290,0.095436,0.821429,1.124797,0.010589,1.510373,0.125536
3,(postage),(circus parade lunch box),0.730290,0.116183,0.095436,0.130682,1.124797,0.010589,1.016679,0.411371
4,(circus parade lunch box),(spaceboy lunch box),0.116183,0.132780,0.087137,0.750000,5.648437,0.071710,3.468880,0.931142
...,...,...,...,...,...,...,...,...,...,...
81,"(set/6 red spotty paper plates, postage)",(set/6 red spotty paper cups),0.103734,0.132780,0.082988,0.800000,6.025000,0.069214,4.336100,0.930556
82,"(set/6 red spotty paper cups, postage)",(set/6 red spotty paper plates),0.112033,0.120332,0.082988,0.740741,6.155811,0.069506,3.393005,0.943224
83,(set/6 red spotty paper plates),"(set/6 red spotty paper cups, postage)",0.120332,0.112033,0.082988,0.689655,6.155811,0.069506,2.861226,0.952123
84,(set/6 red spotty paper cups),"(set/6 red spotty paper plates, postage)",0.132780,0.103734,0.082988,0.625000,6.025000,0.069214,2.390041,0.961722
85,(postage),"(set/6 red spotty paper plates, set/6 red spot...",0.730290,0.099585,0.082988,0.113636,1.141098,0.010262,1.015853,0.458462

In [20]:
rules1.iloc[:,0:2].to_csv('rules1_invoice.csv')

In [21]:
dfR1 = pd.read_csv('/kaggle/working/rules1_invoice.csv',index_col=0)
dfR1.head()

,antecedents,consequents
0,frozenset({'assorted colour mini cases'}),frozenset({'postage'})
1,frozenset({'postage'}),frozenset({'assorted colour mini cases'})
2,frozenset({'circus parade lunch box'}),frozenset({'postage'})
3,frozenset({'postage'}),frozenset({'circus parade lunch box'})
4,frozenset({'circus parade lunch box'}),frozenset({'spaceboy lunch box'})

In [22]:
def fix_data_cells(x):
    return x.replace('frozenset','')

In [23]:
dfR1 = dfR1.applymap(fix_data_cells)

In [24]:
dfR1.head()

                        antecedents                       consequents
0  ({'assorted colour mini cases'})                     ({'postage'})
1                     ({'postage'})  ({'assorted colour mini cases'})
2     ({'circus parade lunch box'})                     ({'postage'})
3                     ({'postage'})     ({'circus parade lunch box'})
4     ({'circus parade lunch box'})          ({'spaceboy lunch box'})

In [25]:
input = "({'circus parade lunch box'})"
dfR1[dfR1['antecedents'] == input]

                     antecedents               consequents
2  ({'circus parade lunch box'})             ({'postage'})
4  ({'circus parade lunch box'})  ({'spaceboy lunch box'})

In [26]:
print(dfR1[dfR1['antecedents'] == input].consequents)

2               ({'postage'})
4    ({'spaceboy lunch box'})
Name: consequents, dtype: object

**Create the recommendation System using Association on Customer Id column**

In [27]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15cm christmas glass ball 20 lights,12,12/1/2009 7:45,6.95,13085.0,United Kingdom
1,489434,79323P,pink cherry lights,12,12/1/2009 7:45,6.75,13085.0,United Kingdom
2,489434,79323W,white cherry lights,12,12/1/2009 7:45,6.75,13085.0,United Kingdom
3,489434,22041,"record frame 7"" single size",48,12/1/2009 7:45,2.10,13085.0,United Kingdom
4,489434,21232,strawberry ceramic trinket box,24,12/1/2009 7:45,1.25,13085.0,United Kingdom

In [28]:
dfuk = df[df['Country'] == 'United Kingdom']
dfuk.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15cm christmas glass ball 20 lights,12,12/1/2009 7:45,6.95,13085.0,United Kingdom
1,489434,79323P,pink cherry lights,12,12/1/2009 7:45,6.75,13085.0,United Kingdom
2,489434,79323W,white cherry lights,12,12/1/2009 7:45,6.75,13085.0,United Kingdom
3,489434,22041,"record frame 7"" single size",48,12/1/2009 7:45,2.10,13085.0,United Kingdom
4,489434,21232,strawberry ceramic trinket box,24,12/1/2009 7:45,1.25,13085.0,United Kingdom

In [29]:
dfuk.isnull().sum()

Invoice             0
StockCode           0
Description      2928
Quantity            0
InvoiceDate         0
Price               0
Customer ID    106429
Country             0
dtype: int64

In [30]:
dfuk = dfuk.dropna()
dfuk.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15cm christmas glass ball 20 lights,12,12/1/2009 7:45,6.95,13085.0,United Kingdom
1,489434,79323P,pink cherry lights,12,12/1/2009 7:45,6.75,13085.0,United Kingdom
2,489434,79323W,white cherry lights,12,12/1/2009 7:45,6.75,13085.0,United Kingdom
3,489434,22041,"record frame 7"" single size",48,12/1/2009 7:45,2.10,13085.0,United Kingdom
4,489434,21232,strawberry ceramic trinket box,24,12/1/2009 7:45,1.25,13085.0,United Kingdom

In [31]:
dfuk.isnull().sum()

Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
dtype: int64

**Create basket according to custmer Ids**

**Tranform the basket table as true or false for each item & each buyer , True if item bought, False if not**

**Apply Apriori Algorith to find association**